@charset "utf-8";

/*---ナンバー---*/
.no1 {
	background-image: url(img/no01.gif);
}


.no2 {
	background-image: url(img/no02.gif);
}

.no3 {
	background-image: url(img/no03.gif);
}

.no4 {
	background-image: url(img/no04.gif);
}

.no5 {
	background-image: url(img/no05.gif);
}

.no6 {
	background-image: url(img/no06.gif);
}

.no7 {
	background-image: url(img/no07.gif);
}

.no8 {
	background-image: url(img/no08.gif);
}

.no9 {
	background-image: url(img/no09.gif);
}

.no10 {
	background-image: url(img/no10.gif);
}

.no11 {
	background-image: url(img/no11.gif);
}

.no12 {
	background-image: url(img/no12.gif);
}

.no13 {
	background-image: url(img/no13.gif);
}

.no14 {
	background-image: url(img/no14.gif);
}

.no15 {
	background-image: url(img/no15.gif);
}

.no16 {
	background-image: url(img/no16.gif);
}

.no17 {
	background-image: url(img/no17.gif);
}
