.メニュー内左{ background:url("メニュー内左.png") top left no-repeat; }
.bridal_on{ width:218px; height:113px; background-position:-10px -10px; }
.bridal_1{ width:218px; height:112px; background-position:-10px -133px; }
.confectionery{ width:218px; height:86px; background-position:-10px -255px; }
.confectionery_on{ width:218px; height:86px; background-position:-10px -351px; }

